ALTER TABLE student_profiles ADD COLUMN IF NOT EXISTS total_stars INTEGER DEFAULT 0;
ALTER TABLE responses ADD COLUMN IF NOT EXISTS is_correct BOOLEAN DEFAULT false;
ALTER TABLE session_participants ADD COLUMN IF NOT EXISTS stars_earned INTEGER DEFAULT 0;
